<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="{% static "icon.png" %}">
    <link href="{% static "css/project.css" %}" rel="stylesheet">
    <link href="{% static "css/fontawesome-all.min.css" %}" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Saira:wght@300;500&display=swap');
    </style>
    <title>Template Project</title>
</head>
<body>
<div id="app">
</div>
</body>
<script src="{% static "main.js" %}"></script>
</html>
